footer
    .container.text-center
        p.pull-left
            | Made with 
            i.fa.fa-heart.pink
            | at 
            a(href='https://boilermake-iv.devpost.com') Boilermake 4
            |.
        ul.pull-right.list-inline
            li(class=(title == 'GitHub') ? 'active' : undefined)
                a(href='https://github.com/dan-zheng/SinLess') GitHub
            li(class=(title == 'Contact Us') ? 'active' : undefined)
                a(href='/contact') Contact Us
            li © 2016 SinLess.
