extends layout

block content
    if !user
        div.main.unauth
            h1 Become a 
                span.emph better
                |  person.
            hr
            p We help you get rid of bad habits and develop good ones.
            a.btn.btn-primary(href='/login', role='button') Start today
    else
        div.main.auth
            if user.profile.firstName
                h1 Welcome, #{user.profile.firstName}!
            else
                h1 Welcome!
